body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: #00000011;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration:none;
}
.hovereffect:hover{
  color:red;
  
  
}

.nav-link{
  padding: 3px;
  
border: 0.1px solid rgba(255, 255, 255, 0.192);
color:white;
}


.navB{
  width: 100%;
}
.nav-item{

padding: 2px;
}
.backgroundColorHovereffect:hover{
  background-color:rgb(0, 4, 255);
   
}



.backgroundColorHoverEffect3:hover{
  background-color:rgb(255, 187, 0);
   
}.PubArticleSearchCompContainer1{
  
  padding:0px;
  
}
.marqueeNewsSpan1{
  border: 0px solid grey;
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.418);
  padding: 2px;
}
.marqueeNewsSpan2{
  padding: 3px;
  
}
.marquee{
  padding: 2px;
  
}

.cheapItemsPageContainer{
  background-color: grey;
  background-image: url('./pages/imgs/lady.jpg');
}
.usedItemsContainer2{
padding: 5px;
}
.usedItemsContainer1{
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  padding: 5px;
  border-radius: 3px;
}

.searchInputTag1{
  outline: 0px;
  width: 100%;
  border: 0px solid green;
  box-shadow:0px 0px 4px rgba(53, 53, 53, 0.459);
  border-radius:2px;
  padding: 7px;
  background:rgb(255, 255, 255) ;
  
  
}

.searchInputTag1:focus{

  border-width: 0px solid green;
  
}
.backgroundColorHoverEffectGreen:hover{
  background-color:green;
  
  
}
.AdComponentDiv{
  padding-bottom:5px;border-radius:3px;
  background-color: white;
  box-shadow:0px 0px 8px black;
}
 .articleContainer{
padding:5px;
border-radius:2px;
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.685);
background-color:rgb(252, 252, 252);
 }


.hoverEffectUnderline:hover{
  text-decoration:underline;
  color:red;
  
  
}
.hovereffect2:hover{
  color:grey;
  
  
}



.caption-four{
  color:rgb(255, 255, 255);
 
}
.caption-one{
  color:#000000; 
}
.caption-two{
  color:#FFEA00; 
}
.caption-three{
  color:#0A00CD;
}

.carousel-caption{
  border:0px solid red; 
height:100%;

font-size:20px;

}

.carousel-control-next{
  width:30px;
border:0px;
}
.carousel-control-prev{
border:0px solid green;

  width:30px;
}







.App {
  text-align: center;
}


 

.navigatione{
  background:green;
  height:300px;
}
navbar-brand1{
  color:rgb(255, 255, 255)!important;
font-size:30px;

}
.bg-black{

  background-color:black !important;
      
  }
nav-link1{
    font-size:15px;
        color:rgba(255, 255, 255, 0.801);
        
        
    }

.aud{
  opacity:0;
}
.carousel{
  background:rgb(0, 0, 0);
 
 
  
}
.basenave{
  background:black;
  color:white;
  padding:20px;
  
}
.carmsgcolor{
  color:rgb(255, 255, 255);
  font-size:20px;
  border:0px solid black;
  font-weight:bold;

  
  
  
}
.carmsg{
  
  font-size:30px;
  border:0px solid black;

  opacity:0.9;
  border-radius:10px;
  
}
.generale{
  
  padding:3px;
  font-size:17px;
  color:rgb(0, 0, 0);
  
  
  
}

.genPadTop{
  padding-top:20px;
}
.gen1{
  text-align:left;
  color:rgb(167, 164, 164);
 
}
.generaleH{

font-size:18px;
color:green;
text-align:center;
font-weight:bold;

}
.generaleH1{

  font-size:18px;
  color:rgb(255, 123, 0);
  text-align:left;
  font-weight:bold;
  
  }
.nega{
  width:100%;
  background:green; 
  color:white;
  text-align:center;
  padding:8px;
  font-family: charm;
  
  }
  
.gencols{
  border-right:0px solid green;
  padding-bottom:20px;
  text-align:center;
 
}
.adscols{
  border-right:2px solid green;
  border-bottom:2px solid gray;
  padding-bottom:50px;

  height:400px;
}
.bod{
  border:0px solid red;
  padding-bottom:8px;
  
}


.SuspenseContainer{
font-size: 25px;
padding-top:250px;
background-color: black;
text-align: center;
padding-bottom:500px;
color: white;

}

.itemse{
  background:url("./pages/imgs/snacks.jpg") fixed no-repeat;
  background-size:cover;
  padding:5px;
 
} 
.btn1{
  padding:7px;
  border-radius:20px;
}

.item{
  
height:310px;

border-left:0px solid green;
border-radius:10px;

box-shadow: 5px 8px  15px black;
padding:3px;
}
.followersCategory{
  box-shadow: 2px 2px  5px black;
  border-radius: 8px;
}

.itemhide{
  width:100%;
height:310px;

border-left:0px solid green;
border-radius:10px;

box-shadow: 5px 8px  15px black;
padding:3px;
}

.photohide{
 width:100%;
  height:55%; 
  background:white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;


  overflow:hidden;
  text-align:center;
   
}

.photo{
  
   height:55%; 
   background:white;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
 border:0px solid red;
 padding:10px;
 
   overflow:hidden;
 
    
 }

.infor{
  width:100%;
     height:38%;
 background:white;
 background-size:cover;
   
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   opacity:0.8;
   padding:5px;
 
 }
 .item-id{
  text-align:left;
  color:black;
font-size:12px;
font-weight:bold;
  
  }
  
  
  .item-price{
   font-size:16px;
  color:orange;
  font-size:18px;
  padding-top:0px;
  font-weight:bold;
  
  }
  
  .item-desc{
      
  color:rgb(102, 102, 102);
  font-size: 10px;
  }
  
  
  .item-cont{
      width:100%;
    padding: 4px;
      background:green;
      
     border-radius: 20px;
      color:white;
  text-align:center;
      float:left;
      font-size: 11px;

  
  }
  
  form{
    padding:8px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.685);
    background-color:rgb(252, 252, 252);
    
    border-radius: 2px;
    
  }
  .form-control{
    border:1px solid rgba(0, 0, 0, 0.164);
  }
  .formInputLabel{
        font-size:14px;
        font-weight: 600;
        color:black;
        
  }
 .formLabel{
  color:orange;
  font-size: 12px;
  background:black;text-align:center;padding:8px;
 }
.form-submit-btn{
background-color: orange;
text-align: center;
font-size: 12px;
color: black;
padding:3px;
}
 .followingsNavItem{
  padding:3px;
  
  
 }

.test{
  color:#5a5a5a
}
.button1{
  background-color:orange;
  padding:4px;
  font-size: 10px;
  color: black;
  
  text-align: center;
  
}

.blackBgOrangeColor{
  background-color: black;
  color: orange;
  padding: 5px;
  text-align: center;
}
.button2{
background-color:orange; 
  padding:4px;
  font-size: 11px;
  color: black;
  
  
}
.pubArticleListItemContainer2{
background-color: white;
  padding: 5px;

}
.pubArticleListItemContainer{
  
  padding:5px;
}
.pubArticleListItemHeadline{
 font-size: 16px;
 font-weight:500;
 padding-bottom: 5px;
}

.pubArticleListItemInstitution{
  color:rgb(245, 159, 0);
  font-size:10px;
  
  font-weight: 500;
  
}
.pubArticleListItemViewsAndVisits{
  font-size: 10px;
    color:rgb(0, 94, 0);
}

.toastAlert1{
  background-color:green;
  color: white;
  padding-top: 30px;
  
  
height: 15%;
font-size: 15px;
position:fixed;
border-radius: 0px 0px 5px 5px;
top:0%;
left: 0%;
right: 0%;
text-align:center;
}

.toastAlert2{
  background-color:rgb(226, 0, 0);
  padding-top: 30px;
  
  
  color: white;
height: 15%;
font-size: 12px;
position:fixed;
top:30%;
left: 20%;
right: 20%;
text-align:center;
}
.label1{
  font-size:15px;
  font-weight: 500;
}
.label2{
  font-size:12px;
  padding-bottom: 5px;
}